.changeColor {
  $self: &;
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin: 15px;
  text-align: center;
  &:hover {
    img {
      transition-duration: 1s;
      transition-timing-function: ease;
      transform: translateX(-40px);
      z-index: 0;
    }
  }
  img {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 4px;
    background-color: #323132;
    border-radius: 20px;
    cursor: pointer;
    z-index: -1;
    transition-duration: 1s;
    transition-timing-function: ease;
    &:hover {
      background: darken(#333232, 3%);
    }
    &:active {
      background: darken(#333232, 10%);
    }
  }
 .counter {
   position: absolute;
   width: 130px;
   margin-top: 10px;
   font-family: 'Passions Conflict', cursive;
   font-size: 120px;
   z-index: -1;
 }
}
.hexColor {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 350px;
  opacity: 0.03;
  text-shadow: 0px 4px 3px rgb(0, 0, 0),
  0px 8px 13px rgb(0, 0, 0);
  pointer-events: none;
}