* {
  margin: 0;
}
.app {
  display: grid;
  font-size: calc(10px + 2vmin);
  color: #000000;
}
.header {
  margin-top: 30vh;
  display: grid;
  justify-items: center;
}
.color {
}

.info {
  display: grid;
  justify-items: center;
}
button {
  font-size: 18px;
  background: #333232;
  border-radius: 30px;
  color: #ffffff;
  border: 0;
  padding: 9px 20px;
  cursor: pointer;
  &:hover {
   background: darken(#333232, 3%);
 }
  &:active {
    background: darken(#333232, 10%);
  }
}




