* {
  background-color: #efeaea;
  margin: 0px;
}
.App {
  margin-top: 30vh;
  display: grid;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}
.Header {
  display: grid;
  justify-items: center;
}
.Info {
  display: grid;
  justify-items: center;
}
button {
  margin: 20px;
  font-size: 18px;
  background: #466fa2;
  border-radius: 30px;
  color: #fff;
  border: 0;
  padding: 9px 20px;
  cursor: pointer;
  &:hover {
   background: darken(#466fa2, 3%);
 }
  &:active {
    background: darken(#466fa2, 10%);
  }
}




